<footer>
    <section id="pie-de-pagina">
        <article class="pie principio">
            <i class="fas fa-credit-card"></i>
            <div "pie-anuncio">
                <a class="anuncio">Pagá con tarjeta o en efectivo</a>
            </div>
            <div class="resumen">    
                <a> 
                    Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                    pago. ¡Y siempre es seguro!
                </a>
            </div>  
            </article>
        <article class="pie">
            <i class="fas fa-gift"></i>
            <div "pie-anuncio">
                <a class="anuncio">Envío gratis desde los $ 2.500</a>
            </div>
            <div class="resumen">       
                <a>       
                    Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                    productos. Es un beneficio de MercadoPuntos.
                </a>
            </div>
        </article>
        <article class="pie fin">
            <i class="fas fa-user-shield"></i>
            <div "pie-anuncio">
                <a class="anuncio">Seguridad, de principio a fin</a>
            </div>
            <div class="resumen"> 
                <a> 
                    ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                    porque estás siempre prtegid@.
                </a>
            </div>
        </article>
        <div class="copyright">
            Copyright © 1999-2019 MercadoLiebre S.R.L.</p> 
        </div>  
    </section>      
</footer>