<header>
    <div class="phone">
        <div class="amarillo">
            <div class="conteiner1">
                <img class="logo" src="/images/logo-mercado-liebre.svg" >
                <div class="search">
                    <input type="text" name="keywords" placeholder="Buscar productos, marcas y más...">
                </div>
                <div class="sub-search">
                    <i class="fas fa-search submit-search" ></i>
                </div>
            </div>    
            <div class="cuotas">
                <i class="fas fa-hand-holding-usd"></i><a>Comprá en cuotas y sin tarjeta de crédito</a>
            </div>
            <nav class="hamburguesa">
                <div class="h-container">
                    <i class="fas fa-bars hamburger"></i>       
                    <ul class="links">
                        <li ><a href=#>Ofertas</a></li>
                        <li><a href=#>Tienda</a></li>
                        <li><a href=#>Vender</a></li>
                        <li><a href=#>Ayuda</a></li>
                        <li><a href="/register">Creá tu cuenta</a></li>
                        <li><a href="/login">Ingresá</a></li>
                        <li><a href=#>Mis compras</a></li>
                    </ul>
                </div>  
            </nav>       
        </div>
    </div> 
    <div class="tablet">
        <div class="amarillo">
            <div class="conteiner1">
                <img class="logo" src="/images/logo-mercado-liebre.svg" >
                <div class="search">
                    <input type="text" name="keywords" placeholder="Buscar productos, marcas y más...">
                </div>
                <div class="sub-search">
                    <i class="fas fa-search submit-search" ></i>
                </div>
            </div>
            <div class="cuotas">
                <i class="fas fa-hand-holding-usd"></i><a>Comprá en cuotas y sin tarjeta de crédito</a>
            </div>
            <nav class="links-desktop">
                <ul class="links-desktop1">
                    <a href=#>Ofertas</a>
                    <a href=#>Tienda</a>
                    <a href=#>Vender</a>
                    <a href=#>Ayuda</a>
                </ul>
                <ul class="links-desktop2">
                    <a href="/register">Creá tu cuenta</a>
                    <a href="/login">Ingresá</a>
                    <a href=#>Mis compras</a>
                </ul>
            </nav>
        </div>
    </div>
</header>