<!DOCTYPE html>
<html  lang="en">
<%- include('partials/head', {title: 'Inicio'}) %>
<%- include('partials/header') %>
<body>
    <section class="banner">
        <img class="image" src="/images/img-home-banner.jpg" alt="MercadoLiebre">
    </section>
    <main>
        <section id="visitados-ofertas">
            <h3 class="titulo-seccion">Basado en tu última visita</h3>
            <article class="producto primero">
                <img class="image" src="/images/productos/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="caja">
                <i class="fas fa-truck icono1"></i>
                    <ol>
                        <li type="none" class="precio">$6.770</li>
                        <li type="none" class="descuento">40% OFF</li>
                        <li type="none" class="descripcion">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</li> 
                    </ol>
                </div>
            </article>
            <article class="producto">
                <img class="image" src="/images/productos/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" >
                <div class="caja">
                <i class="fas fa-truck icono1"></i>
                    <ol>
                        <li type="none" class="precio">$230.000</li>
                        <li type="none" class="descuento">20% OFF</li>
                        <li type="none" class="descripcion">Mac Book Pro 2019 Lorem ipsum, dolor sit amet.</li>
                    </ol>
                </div>
            </article>
            <article class="producto">
                <img class="image" src="/images/productos/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="caja">
                <i class="fas fa-truck icono1"></i>
                    <ol>
                        <li type="none" class="precio">$70.500</li>
                        <li type="none" class="descuento">15% OFF</li>
                        <li type="none" class="descripcion">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</li>
                    </ol>
                </div>
            </article>
            <article class="producto final">
                <img class="image" src="/images/productos/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"">
                <div class="caja">
                <i class="fas fa-truck icono1"></i>
                    <ol>
                        <li type="none" class="precio">$34.000</li>
                        <li type="none" class="descuento">5% OFF</li>
                        <li type="none" class="descripcion">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</li>
                    </ol>
                </div>
            </article>
        </section>
        <section id="visitados-ofertas">
            <h3 class="titulo-seccion">Ofertas</h3>
            <article class="producto primero">
                <img class="image" src="/images/productos/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" >
                <div class="caja">
                <i class="fas fa-truck icono1"></i>
                    <ol>
                        <li type="none" class="precio">$6.770</li>
                        <li type="none" class="descuento">40% OFF</li>
                        <li type="none" class="descripcion">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</li> 
                    </ol>
                </div>
            </article>
            <article class="producto">
                <img class="image" src="/images/productos/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="caja">
                    <i class="fas fa-truck icono1"></i>
                    <ol>
                        <li type="none" class="precio">$230.000</li>
                        <li type="none" class="descuento">20% OFF</li>
                        <li type="none" class="descripcion">Mac Book Pro 2019 Lorem ipsum, dolor sit amet.</li>
                    </ol>
                </div>
            </article>
            <article class="producto">
                <img class="image" src="/images/productos/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" >
                <div class="caja">
                    <i class="fas fa-truck icono1"></i>
                    <ol>    
                        <li type="none" class="precio">$70.500</li>
                        <li type="none" class="descuento">15% OFF</li>
                        <li type="none" class="descripcion">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</li>
                    </ol>
                </div>
            </article>
            <br>
            <article class="producto final">
                <img class="image" src="/images/productos/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="caja">
                    <i class="fas fa-truck icono1"></i>
                    <ol>
                        <li type="none" class="precio">$34.000</li>                                
                        <li type="none" class="descuento">5% OFF</li>
                        <li type="none" class="descripcion">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</li>
                    </ol>
                </div>
            </article>
        </section>
    </main>
</body>
<br>
<%- include('partials/footer') %>
</html> 