<!DOCTYPE html>
<html  lang="en">
<%- include('../partials/head', {title: 'Login'}) %>
<%- include('../partials/header') %>
<body>
    <main>
        <form action="datos.html" method="POST">
            <div class="input">
                <input type="text" name="user" id="user" placeholder="Nombre de usuario">
            </div>
            <div class="input">
                <input type="text" name="user" id="user" placeholder="Contraseña"> 
            </div>
            <div class="center">
                <button class="submit" type="submit">Enviar</button>
            </div>
        </form>
    </main>
</body>
<%- include('../partials/footer') %>
</html> 